@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Garbage Collector</h1>
    <p class="lead">We do all things garbage. From everyday garbage pick- ups to brush pick-ups.</p>
    <p><a href="http://city.milwaukee.gov/mpw/divisions/operations/environmental/sanitation/yardwastecollection#.WeTE22hSyUk" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


    
